{% extends 'form_widgets/FormWidget.j2' %}
{% block input_content %}
<input type="password" class="form-control"
	name="@{{field_attrs.name}}"
	ng-model="@{{form_attrs.var}}.@{{field_attrs.name}}"
	{% if field_attrs.required %}ng-required="true"{% endif %}
	{% if field_attrs.minlength %}ng-minlength="@{{field_attrs.minlength}}"{% endif %}
	{% if field_attrs.maxlength %}ng-maxlength="@{{field_attrs.maxlength}}"{% endif %}
/>
{% endblock %}